.headprint {
    padding-left: 90px; /* Add some padding to the body */
}
.container-custom {
    background-color: #f0f0f0; /* Light gray background */
    padding: 20px;
    border-radius: 5px; /* Rounded corners */
}
.btn-custom {
    color: white; /* White text color */
    background-color: #337ab7; /* Blue background color */
    border-color: #2e6da4; /* Darker blue border color */
}
.btn-custom:hover {
    background-color: #23527b; /* Darker blue on hover */
    border-color: #1b3f5a;
}
.label-custom {
    background-color: #d9edf7; /* Light blue background */
    color: #31708f; /* Darker blue text */
    padding: 6px 12px; /* Adjust padding as needed */
    border-radius: 4px; /* Slightly rounded corners */
    margin-right: 5px; /* Add spacing between labels */
}
.row-custom {
    margin-bottom: 15px; /* Add spacing between rows */
}
.invoice-body {
    background-color: #f8f9fa;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}
.invoice-box {
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #ddd;
    background: #fff;
}
.invoice-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    background: linear-gradient(to right, #075de9 0%, #334ea7 100%);
    overflow: hidden;
    flex-wrap: wrap;
}
.invoice-logo {
    max-width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.invoice-logo img {
    max-width: 80%;
}
.contact-info {
    position: absolute;
    bottom: 0px;
    width: 75%;
    right: 0px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    clip-path: polygon(9% 0, 105% 0, 105% 105%, 0 105%);
}
.contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
    font-size: 14px;
}
.contact-item i {
    font-size: 16px;
    color: #ffc107;
}
.invoice-to {
    display: flex;
    justify-content: space-between;
    margin: 20px 40px 0 40px;
    flex-wrap: wrap;
}
#qrcode {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
}

/* Ensure QR code image fits inside */
.qr-code-image img {
    max-width: 80%;
    max-height: 80%;
    object-fit: cover;
}
.invoice-to-left {
    width: 35%;
}
.invoice-to-right {
    width: 65%;
    display: flex;
    flex-direction: column;
}
.invoice-to-right-first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.invoice-text {
    font-size: 20px;
    font-weight: 700;
}
.unpaid-button {
    padding: 5px 10px;
    background-color: red;
    color: white;
    font-weight: 600;
    border-radius: 5px;
}

.unpaid-button {
    background-color: #e48687;
    color: white;
    font-size: 14px;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: bold;
    white-space: nowrap;
    flex-shrink: 0;
}

.invoice-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #eedede;
    padding: 5px;
    border-radius: 10px;
}
.invoice-container div {
    flex: 1;
    text-align: center;
    height: 100%;
}
.label {
    font-weight: bold;
    font-size: 14px;
    color: #573cb8;
}
.value {
    font-size: 14px;
    color: #333;
    margin-top: 5px;
    display: block;
}
.status-button {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.status-button:hover {
    opacity: 0.9;
}
.payment-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin: 0 40px;
    flex-wrap: wrap;
}
.payment-column1 {
    width: 35%;
}
.payment-column2 {
    width: 30%;
    padding-left: 30px;
}
.payment-column3 {
    width: 30%;
    text-align: right;
}
.amount-due {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(to right, #075de9 0%, #334ea7 100%);
    border-radius: 10px;
    padding: 10px;
}
.amount-due .value {
    font-weight: 700;
    color: #fff;
    font-size: 18px;
}
.payment-method {
    text-align: center;
}
.dropdownmy {
    padding: 10px;
    width: 100%;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}
.pay-now-button {
    padding: 10px 20px;
    background: linear-gradient(to right, #075de9 0%, #334ea7 100%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}
.pay-now-button:hover {
    background: linear-gradient(to right, #334ea7 0%, #075de9 100%);
}
.invoice-body table {
    width: calc(100% - 80px);
    border-collapse: collapse;
    margin-left: 40px;
    margin-right: 40px;
}
.invoice-body table th,
.invoice-body table td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 5px;
}
.table-heading {
    background: linear-gradient(to right, #075de9 0%, #334ea7 100%);
    color: white;
}
.invoice-body table :nth-child(1st) tr {
    background: linear-gradient(to right, #075de9 0%, #334ea7 100%);
}
.product-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 4px;
}
.total-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 10px 40px;
    font-family: Arial, sans-serif;
}
.total-section-left {
    flex: 1;
    margin-left: 40px;
    margin-top: -70px;
    padding-left: 10px;
}
.total-section-right {
    flex: 1;
    margin-right: 40px;
    margin-top: 10px;
}
.total-section-row {
    display: flex;
    margin-bottom: 10px;
}
.subtotal {
    font-size: 17px;
    margin: 0 70px 0 70px;
    color: black;
}
.subtotal-number {
    font-size: 17px;
    margin-left: auto;
    padding-right: 10px;
}
.discount {
    font-size: 17px;
    margin: 0 50px 0 70px;
    color: rgb(41, 38, 38);
}
.tax {
    font-size: 17px;
    margin: 0 65px 0 70px;
    color: black;
}
.total-section-row-last {
    font-weight: bold;
    color: #2c2929;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin: 0 0 0 50px;
}
.grand-total {
    font-size: 17px;
    margin: 0 50px 0 70px;
    color: black;
}
.total-section-left1 {
    background-color: #1d1d1c;
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-right: 90px;
}
.barqcode-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    flex-shrink: 0;
}
.total-section-right1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: 40px 10px 0 90px;
    font-size: 18px;
    border-radius: 5px;
}
.total-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.barcode-invoice-number {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 10px 40px;
    font-family: Arial, sans-serif;
}
.barcode-invoice-number div {
    margin-top: 10px 40px;
    padding: 0 40px;
}
.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 40px 0 40px;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 40px 10px 40px;
    flex-wrap: wrap;
}
.footer-left {
    display: flex;
    width: 60%;
    justify-content: space-between;
}
.footer-left-one {
    width: 50%;
    text-align: start;
}
.footer-left-two {
    width: 50%;
    text-align: center;
}
.footer-right {
    width: 40%;
    text-align: right;
}
.company-logo {
    height: 40px;
}
.invoice-body table tbody tr td:first-child {
    text-align: left;
    width: 60%;
}
.invoice-body table tbody tr td:nth-child(2) {
    width: 15%;
}
.invoice-body table tbody tr td:nth-child(3) {
    width: 10%;
}
.invoice-body table tbody tr td:nth-child(4) {
    width: 5%;
}
.invoice-body table tbody tr td:last-child {
    text-align: right;
    padding-right: 10px;
    width: 10%;
}
.size-sku {
    display: flex;
    gap: 10px;
}
.size-sku span {
    font-size: 14px;
    color: #555;
}
.table-subtotal-left td:first-child {
    border: none;
}
.table-subtotal-left td:nth-child(2) {
    text-align: left;
    padding-left: 20px;
}
/* Mobile responsiveness */
@media (max-width: 768px) {
    .invoice-header {
        flex-direction: column;
        height: auto;
        border-bottom: 1px solid #ddd;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .invoice-logo {
        order: -1;
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }
    .contact-info {
        position: relative;
        width: 100%;
        clip-path: none;
        padding: 0 10px 5px 10px;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }
    .contact-item {
        width: 33.33%;
        flex-direction: column;
        text-align: center;
    }
    .invoice-to-left h5 {
        font-size: 18px;
    }
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .invoice-logo {
        order: -1;
        width: 100%;
        justify-content: center;
        display: flex;
        margin-top: 10px;
    }
    .invoice-logo img {
        max-width: 100%;
        width: 400px;
        height: auto;
    }
    .contact-info {
        position: relative;
        width: 100%;
        padding: 5px 10px 5px 10px;
        justify-content: start;
    }
    .contact-item {
        width: 33.33%;
        display: flex;
        align-items: center;
        text-align: start;
    }
    .contact-item span:last-of-type {
        display: none;
    }
    .contact-item i {
        font-size: 20px;
    }
    .invoice-to {
        flex-direction: column;
        margin: 10px;
    }

    .invoice-to-left {
        width: 100%;
    }
    .invoice-to-left-row {
        display: flex;
    }
    .invoice-to-left-row span {
        padding-left: 20px;
        font-weight: bold;
    }
    .invoice-to-left-address {
        font-size: 14px;
    }
    .invoice-to-right {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .invoice-to-right-first {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .invoice-text {
        font-size: 14px;
    }
    .unpaid-button {
        font-size: 12px;
        padding: 3px 8px;
    }

    .invoice-container {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        margin-top: 10px;
        width: 100%;
    }
    .invoice-no,
    .invoice-date,
    .invoice-due,
    .order-status {
        width: 48%;
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }
    .invoice-no,
    .invoice-date,
    .invoice-due,
    .order-status .value {
        font-size: 14px;
    }
    .status-button {
        width: fit-content;
    }
    .payment-row {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 10px;
    }
    .payment-column1 {
        width: 40%;
    }
    .payment-column2 {
        width: 39%;
        margin-left: 5px;
        padding-left: 0px;
    }
    .payment-column3 {
        width: calc(21% - 5px);
    }
    .payment-column2 {
        text-align: center;
    }
    .amount-due .value {
        font-size: 12px;
    }
    .dropdownmy {
        font-size: 14px;
    }
    .pay-now-button {
        font-size: 14px;
        padding: 8px;
    }
    .invoice-body table {
        width: calc(100% - 20px);
        border-collapse: collapse;
        margin-left: 10px;
        margin-right: 10px;
    }
    .barcode-invoice-number {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        margin-top: 0 10px;
        font-family: Arial, sans-serif;
    }
    .barcode-invoice-number div {
        margin-top: 10px;
        padding: 10px;
    }
    .header-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 10px 0 10px;
    }
    .footer-section {
        flex-direction: column;
        align-items: center;
        margin: 0 10px 10px 10px;
    }
    .footer-left {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 5px;
    }
    .footer-left-one {
        width: calc(50% - 5px);
        text-align: start;
    }
    .footer-left-two {
        width: calc(50% - 5px);
        text-align: end;
    }
    .footer-right {
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
}

@media (min-width: 1200px) {
    .invoice-box {
  max-width: 1100px;
}
    body, .invoice-body {
        font-size: 18px;
    }

    .invoice-text {
        font-size: 24px;
    }

    .contact-item, .label, .value {
        font-size: 16px;
    }

    .pay-now-button {
        font-size: 18px;
        padding: 12px 24px;
    }

    .invoice-body table th, .invoice-body table td {
        font-size: 16px;
        padding: 10px;
    }

    .amount-due .value {
        font-size: 22px;
    }
}
/* Hide everything except the print section */
/* Hide elements with the class 'no-print' when printing */
@media print {
    .no-print {
        display: none !important;
    }
}